.rating {
    display: flex;

    .ratingContainer {
        flex: 6;

        .table {
                text-align: center;
        
            }
        
            .pagination {
                justify-content: center;
            }
    }
}